<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <%= link_to root_path, class: "navbar-brand" do %>
    <img src="https://d3w3ioujxcalzn.cloudfront.net/icons/0c0a/images/1856494/large/z-icon-white-300x300.png" width="30" height="30" alt="" class="d-inline-block align-top" >
  <% end %>
  <h5 class="my-0 mr-md-auto font-weight-normal">Zerista Rails Test</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <%= render 'shared/login-button' %>
    <%=link_to "List of Pages",  pages_path, class: "btn btn-primary"%>
  </nav>
</div>