<a type="button" data-toggle="modal" data-target="#newPageModal">
  <div class="new-page-upload">
    <div class="btn btn-success">
    <i class="fas fa-plus"></i>
    Page
    </div>
  </div>
</a>
<%= render 'pages/new-page-modal' %>
