<div class="container mb-5">
  <div class="jumbotron">
  <%= image_tag(@page.photo.url, width: "100%", height: "400px", alt: '') if @page.photo? %>
  <%= render 'pages/form' %>
</div>
</div>

<div id="notice"></div>
