<%= simple_form_for @site, remote: true, html: { id: :site_form } do |f|%>
  <div class="modal-body">
    <%= f.input :name, required: true, :html_options=>{:onkeydown=>"javascript: this.form.apply_button_name.click();"} %>
    <%= f.input :domain, required: true %>
    <%= f.input :description, required: true %>



  </div>


<% link_to 'New Page', new_site_path %>

<% end %>
