<button type="button mb-3" class="btn btn-raised btn-success" data-toggle="modal" data-target="#newPageModal" >
  <i class="fas fa-plus"></i>
  Add Page
</button>
<%= render 'sites/new-page-modal' %>
