<div class="sites-container container mt-5">
  <div class="jumbotron">

    <% if @sites.length > 0 %>

      <div class="jumbo-header" >
        <h2>
          <i class="fa fa-sitemap" ></i>
          Sites
        </h2>
      </div>
      <div class="row">
        <% @sites.each do |site| %>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card-deck mb-3" >
              <%= render 'sites/site', site: site %>
            </div>
          </div>
          <br>
        <% end %>
      </div>

    <% end %>
  

    <% if @sites.length === 0 %>
      <div class="jumbo-header" >
        <h2>
          <i class="fa fa-ban" ></i>
          No Sites exist!
        </h2>
      </div>
        <p class="lead">
          Click the green button to create one
        </p>

    <% end %>

    <div class="row">
      <div class="col-sm">
        <%= render 'sites/new-site-button' %>
      </div>
    </div>

  </div>
</div>

<% unless current_user %>
  <div class="container mt-5">
    <div class="jumbotron">

      <div class="jumbo-header" >
        <h2>
          <i class="fa fa-user" ></i>
          Please Login
        </h2>
      </div>
      <p class="lead">
        You must be logged in to view this section!
      </p>

      <div class="row">
        <div class="col-sm">
          <%= render 'shared/login-button' %>
        </div>
      </div>
    </div>
  </div>
<% end %>



