<!-- created html to show individual sites -->
<div style='padding-left: 10em; padding-top: 3em' >
    <h3>Factors</h3>
      <div>
        The site id for this site is <%= @site.id %>.<br>
        It has <%= @factors %> as factors.
      </div>
</div>